{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": true,
    "printWidth": 135,
    "semi": false,
    "singleQuote": true,
    "useTabs": false,
    "tabWidth": 4,
    "trailingComma": "all"
}
